.category-box {
    display: flex;
    margin: 4rem auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.category {
    width: 15vw;
    height: 4rem;
    background-color: rgb(255, 230, 230);
    border-radius: 20px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.category:hover {
    cursor: pointer;
}

.focused {
    background-color: #ff7773;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.search-box {
    margin: 2rem 7rem 0.5rem 10rem;
    text-align: right;
}

.write-post-button {
    width: 5rem;
    height: 2rem;
    margin: 1rem 1rem 1rem auto;
    border: none;
    background-color: #ff7773;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 20px;
}

.write-post-button:hover {
    background-color: #e3e3e3;
    color: #ff7773;
    cursor: pointer;
}

.community-body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70vw;
}

.community-content-box {
    border-top: 5px solid #e3e3e3;
}

td {
    width: 80vw;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem;
    font-size: 0.9rem;
}

.community-content:hover {
    cursor: pointer;
}

.community-content-category {
    color: #ff7773;
    width: 12rem;
    text-align: center;
}

.community-content-title {

}

.community-content-date {
    text-align: right;
}

@media screen and (max-width: 500px) { 
    .category-box {
        width: 400px;
        font-size: 0.5rem;
    }

    .category {
        height: 2rem;
    }

    .community-content-category {
        font-size: 0.7rem;
        width: 5px;
    }

    .write-post-button {
        width: 60px;
        font-size: 0.7rem;
    }

    .community-content-title {
        font-size: 0.7rem;
        width: 500px;
    }

    .community-content-date {
        font-size: 0.7rem;
        width: 7px;
    }


}