.category-box {
    display: flex;
    margin: 4rem auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.category {
    width: 15vw;
    height: 4rem;
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.focused {
    background-color: #ff7773;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

.search-box {
    margin: 2rem 7rem 0.5rem 10rem;
    text-align: right;
}

.write-post-button {
    width: 4rem;
    height: 1.5rem;
    margin: 1rem 5rem 1rem auto;
    border: none;
    background-color: #ff7773;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 10px;
}

.write-post-button:hover {
    background-color: #e3e3e3;
    color: #ff7773;
}

.community-content-box {
    display: flex;
    margin: 0 auto;
    border-top: 5px solid #e3e3e3;
    width: 80vw;
}

td {
    width: 80vw;
    border-bottom: 1px solid #e3e3e3;
    padding: 1rem;
    font-size: 0.9rem;
}

.community-content {

}

.community-content-category {
    color: #ff7773;
    width: 8rem;
    text-align: center;
}

.community-content-title {

}

.community-content-date {
    text-align: right;
}