.mypage-box {
    width: 70vw;
    background-color: #FFF1F0;
    border: 1px solid #BDBDBD;
    border-radius: 30px;
    margin: 3rem auto 0 auto;
    padding: 2rem;
}

.personal-img-box {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    margin: 2rem auto 0 auto;
    box-sizing: border-box;
}

.personal-img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

.mypage-post-image-input {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.mypage-edit-button {
    width: 7rem;
    height: 2rem;
    margin: 2rem auto 5rem auto;
    border: none;
    background-color: #ff7773;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.modal-backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
}

.modal {
    border-radius: 10%;
    background-color: #ffffff;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.close-button {
    cursor: pointer;
    margin: 1.5rem 2rem 0 auto;
}

label {
    cursor: pointer;
    content: '이미지 추가';
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 1rem auto;
    width: 7rem;
    height: 2rem;
    border: 1px solid #fdc1bf;
    color: #fdc1bf;
    transition: 0.3s;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
}

label:hover {
    background-color: #e3e3e3;
    color: #ff7773;
    cursor: pointer;
}
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.mypage-name {
    display: flex;
    margin: 0.5rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mypage-edit-desc {
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

input.mypage-form-box {
    border: solid 1px #c4c4c4;
    width: 10rem;
    height: 3rem;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
}

.mypage-personal-edit-button {
    width: 7rem;
    height: 2rem;
    background-color: #ff7773;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 20px;
    margin: 0 auto 1rem auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.mypage-personal-edit-button:hover {
    background-color: #e3e3e3;
    color: #ff7773;
    cursor: pointer;
}

.delete-user-button {
    text-align: center;
    font-size: 0.8rem;
    color: #767676;
}

.mypage-personal-desc {
    text-align: center;
    margin: 0.5rem;
    margin-bottom: 3rem;
}

.mypage-title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
}

.personal-color-desc {
    width: 50vw;
    margin: 3rem auto;
}

.divider-small {
    width: 60px;
    border-top: 2px solid #BDBDBD;
    margin: 6rem auto;
}

.mypage-colorchip-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-top: 3rem;
    justify-content: center;
}

.mypage-color-chip {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border-radius: 50%;
}