.signup-box {
    display: flex;

}

.left-nav { 
    width: 40vw;
    height: 100vh;
    background-color: #fdc1bf;
    text-align: center;
    align-items: center;
}

.signup-img {
    width: 28rem;
    margin: 30% 0;
}

.form-body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-title {
    font-weight: 900;
    font-size: 2rem;
    margin: 5rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.desc {
    font-size: 0.8rem;
    margin: 1rem 1rem 0 0.5rem;
}

.name-form-box, .email-form-box, .password-form-box, .password-check-form-box{
    border: solid 1px #c4c4c4;
    width: 30rem;
    height: 3rem;
    border-radius: 20px;
    margin: 0.5rem 1rem 1rem 0;
    padding: 1rem;
    box-sizing: border-box;
}

.gender-button-container {
    display: flex;
    height: 3rem;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.5rem 1rem 1rem 1.7rem;
}

.gender-select-button {
    border: solid 1px #c4c4c4;
    width: 12.25rem;
    height: 3rem;
    border-radius: 20px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.gender-select-button:hover {
    background-color: #fdc1bf;
    cursor: pointer;
}

.gender-select-button-active {
    background-color: #fdc1bf;
}

/* input { 
    -webkit-appearance : none;
    -moz-appearance:none;
    appearance:none;
} */

input:focus {
    outline: none;
}

.password-check-desc {
    font-size: 0.5rem;
    margin-left: 0.5rem;
}

.true {
    color: #4e9036;
}

.false {
    color: #ff7773;
}


.signup-button {
    width: 25rem;
    height: 3rem;
    background-color: #ff7773;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.signup-button:hover {
    cursor: pointer;
    background-color: #ffcecc;
    color: #ff7773;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 400px) {
    .left-nav {
        display: none;
    }

    .form-title {
        font-size: 1.2rem;
        text-align: center;
    }

    .form-body {
        display: flex;
        justify-content: center;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    .gender-button-container {
        width: 305px;
        font-size: 0.8rem;
        margin: 0 auto 1rem -0.5rem;

    }

    .gender-select-button {
        width: 100%;
    }

    .name-form-box, .email-form-box, .password-form-box, .password-check-form-box {
        width: 260px;
    }

    .signup-button {
        width: 260px;
    }
}