.camera-box {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.camera {
    margin: 5rem auto;
}

.camera-button {
    width: 20rem;
    height: 5rem;
    color: #FF7773;
    border-radius: 50px;
    border: none;
    background-color: #FFF1F0;
}

.camera-button:hover {
    background-color: #FF7773;
    color: #ffffff;
}

.camera-desc {
    margin: 5rem auto 0 auto;
    color: #FF7773;
    text-align: center;
    line-height: 2rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
}
