.ai-camera-button {
    width: 15rem;
    height: 5rem;
    background-color: #FF7773;
    color: #FFF1F0;
    border-radius: 50px;
    border: none;
    margin: 2rem auto;    
}

.ai-camera-button:hover {
    color: #FF7773;
    background-color: #FFF1F0;
}

.ai-camera-desc {
    margin: 5rem auto 0 auto;
    color: #FF7773;
    text-align: center;
    line-height: 2rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
}

.color-select-option {
    width: 15rem;
    height: 3rem;
    border-radius: 30px;
    padding: 1rem;
    margin: 4rem auto 0 auto;
}

.color-select-option-desc {
    margin: 2rem auto 0 auto;
    color: #FF7773;
    text-align: center;
    line-height: 1.2rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

#ai-webcam-container {
    margin: 0 auto;
}

#ai-label-container {
    margin: 3rem auto;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}