.tab-box {
    display: flex;
}

li {
    list-style: none;
}

.submenu {
    width: 100%;
    padding: 15px 10px;
    cursor: pointer;
}

.focused {
    background-color: #ff7773;
    color: #FFF1F0;
    transition: 0.3s;
}

.colors-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.color-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.color-theme-title {
    position: relative;
    left: 30px;
    margin-top: 4rem;
}

.color-theme-select-button {
    background-color: #FFF1F0;
    color: #ff7773;
    padding: 1rem;
    border-radius: 40%;
    position: relative;
    left: 30px;
    margin-top: 1rem;
}

.color-theme-select-button:hover {
    color: #FFF1F0;
    background-color: #ff7773;
    cursor: pointer;
}