.tab-box {
    display: flex;
    text-align: center;
    margin-top: 3rem;
}

li {
    list-style: none;
    margin: 1rem;
    border-radius: 30px;
}

.submenu {
    padding: 15px 10px;
    cursor: pointer;
    background-color: #FFF1F0;
    color: #ff7773;
}

.focused {
    background-color: #ff7773;
    color: #FFF1F0;
    transition: 0.3s;
}

.color-type {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 5rem auto 0 auto;
    color: #ff7773;
    font-weight: 600;
}

.color-desc {
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;
    margin: 5rem;
    line-height: 2rem;
}

.color-recommend-box {
    width: 55rem;
    margin: 5rem auto;
}

.color-recommend-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #ff7773;
}

.color-recommend-colorchip-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    margin-top: 3rem;
    justify-content: center;
}

.recommend-color-chip {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border-radius: 50%;
}

.color-overall-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
}

.color-overall-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #ff7773;
    margin: 3rem auto;
}


@media screen and (max-width: 500px) {
    .tab-box {
        font-size: 0.85rem;
    }
    
    .color-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        width: 400px;
    }

    .color-type {
        font-size: 2rem;
    }

    .color-desc {
        display: flex;
        margin: 2rem;
        text-align: left;
        font-size: 0.9rem;
        width: 350px;
        overflow: auto;
    }

    .color-recommend-box {
        margin: 3rem auto;
    }

    .color-recommend-title {
        font-size: 1.5rem;
    }

    .color-recommend-colorchip-box {
        padding: 3rem;
    }

    .color-overall-box {
        margin: 3rem auto;
    }

    .color-overall-title {
        font-size: 1.5rem;
    }
}