.post-view-box {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}

.post-box {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 2rem;
    margin: 5rem auto;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
}

.post-title {
    font-size: 1.5rem;
    margin: 1rem;
}

.button-container {
    display: flex;
    margin: 1rem 1rem auto auto;
}

.edit-button {
    width: 3rem;
    height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #FF7773;
    color: #ffffff;
    font-size: 0.5rem;
    transition: all 0.5s ease;
}

.edit-button:hover {
    background-color: #e6e6e6;
    color: #FF7773;
    cursor: pointer;
}

.delete-button {
    margin-left: 1rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 0.5rem;
    transition: all 0.5s ease;
    border: 1px solid #fdc1bf;
    color: #fdc1bf;
}

.delete-button:hover {
    background-color: #e6e6e6;
    color: #FF7773;
    cursor: pointer;
}

.post-desc-box {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.post-category {
    color: #a6a6a6
}

.post-created-at {
    margin-left: 2rem;
}

.comment-count {
    margin-left: 2rem;
}

.divider-large {
    width: 70vw;
    border-top: 1px solid #d2d2d2;
}

.post-content {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.post-img {
    width: 15rem;
}

.comment-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}

.divider-medium {
    width: 70vw;
    border-top: 1px solid #e6e6e6;
    margin: 0 auto;
}

.comment-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.comment-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #dedede;
}

.comment-button {
    width: 4rem;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 0.5rem;
    background-color: #FF7773;
    color: #ffffff;
    margin: 0 0 0 1rem;
    transition: all 0.5s ease;
    text-align: center;
}

.comment-button:hover {
    background-color: #e6e6e6;
    color: #FF7773;
    cursor: pointer;
}

.comments {
    margin: 0.5rem 0 0 0.3rem;
    display: flex;
    flex-direction: column;
}

.comment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-info-left {
    width: 90%;
}

.comment-info-right {
    width: 10%;
    text-align: right;
}

.comment-user {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.comment-text {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.comment-delete {
    margin: 0.5rem 0;
    font-size: 0.7rem;
}

.comment-delete:hover {
    cursor: pointer;
}

.comment-createdat {
    margin: 0.5rem 0;
    font-size: 0.7rem;
}